/*
HTML and CSS Author: Matt Jennings
Date: July 11, 2014
*/

/***** HTML & BODY Tags *****/
	html
	{
		margin: 0;
		padding: 0;
		width: auto;
		min-width: none;
		overflow-x:hidden;
	}
	
	body {
		padding: 0;
		margin: 0;
		overflow-x: hidden;
		font-family: Helvetica, Arial,sans-serif;
		font-size: 22px;
		line-height: 30px;
		color: #000;
		position: relative;
		background: #074e7f;
	}
	  
	body * {
		max-width: 100%;
	}


/***** General ******/
img {
	border: none;
}

ul {
	width: 100%;
	padding-top: 7px;
}

li {
	width: 90%;
	margin-bottom: 5px;
}

a:link, a:visited
{
	color: #074e7f;
	text-decoration: underline;
}

a:hover, a:active
{
	color: #074e7f;
	text-decoration: none;
}


/* Clearfix */
.clearfix:after  { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { zoom: 1; }	
	  


/****** Desktop & Tablet Layout Borders ******/	
/* Header */


	header {
		display: block;
		margin: 0;
		padding-bottom: 20px;
		width: 100%;
		height: 111px;
		background: #3C8768;
		overflow: hidden;
	}

	#logo {
		max-width: 920px;
		display: block;
		margin: 0 auto;
	}

	#logo img {
		max-width: 281px;
		max-height: 71px;
		padding: 20px 0;
		display: block;
		margin: 0 auto;
	}


				  
/***** Content *****/
	#site-content
	{
		display: block;
		max-width: 100%;
		min-height: 200px;
		background: #fff;
		position: relative;
		clear: both;
		margin: -20px 0 !important;
		padding: 5px 0;
	}
	
	#site-content-inner
	{
		max-width: 771px;
		display: block;
		margin: 0 auto;
	}
	
/***** Footer *****/
	footer {
		clear: both;
		min-height: 15px;
		display: block;
		padding: 20px;
		width: 100%;
		background: #074e7f;
		color: #fff;
		font-size: 16px;
	}

	#copyright {
		display: block;
		max-width: 400px;
		clear: both;
		min-height: 15px;
		display: block;
		margin: 0 auto;
		padding: 20px;
		width: 100%;
		background: #074e7f;
	}

/***** List App Form *****/

	fieldset {
		border: none;
	}

	textarea:focus, input:focus, button:focus {
		outline: 0;
	}

	button, input {
		display: block;
		width: 100%;
		height: 40px;
		text-align: center;
		font-size: 28px;
		border-radius:20px;
		-moz-border-radius:20px;
		-o-border-radius:20px;
		-webkit-border-radius:20px;
		border: 3px solid;
		margin-bottom: 20px;
	}



	#type-text-here {
		border-color: #018b69;
		height: 40px;
	}


/***** List Items *****/

	#type-text-here:first-line {
		display: inline-block;
	}

	#list-output {
		list-style: none;
		display: none;
	}

	.pending {
		padding-left: 35px;
		background-image: url("../images/check-mark-small.png");
		background-repeat: no-repeat;
		color: #07fa07;
		line-height: 35px;
	}

	.done {
		padding-left: 35px;
		background-image: url("../images/cross-out-small.png");
		background-repeat: no-repeat;
		color: #fe0002;
		line-height: 35px;
		text-decoration: line-through;
	}





/***** Mobile Phone & Tablet Styles  *****/
@media all and (max-width: 767px) {

	ul {
		padding-top: 34px;
	}

	#site-content
	{
		display: block;
		padding: 0 10px;
		margin-top: -50px !important;
		min-width: 280px;
		min-height: 175px;
	}
	
	#site-content-inner {
		padding: 0 0 100px 0;
	}
	
	#footer 
	{
		bottom: 20px;
		padding-bottom: 12px;
		clear: both;
		height: 75px;
		position: absolute;
		width: 100%;
		overflow: auto;
	}

}