/*
HTML and CSS Author: Matt Jennings
Date: July 11, 2014
*/

/***** HTML & BODY Tags *****/
	html
	{
		margin: 0;
		padding: 0;
		width: auto;
		min-width: none;
		overflow-x:hidden;
	}
	
	body {
		padding: 0;
		margin: 0;
		overflow-x: hidden;
		font-family: Arial,Helvetica,sans-serif;
		font-size: 14px;
		line-height: 20px;
		color: #000;
		position: relative;
		background: #074e7f;
	}
	  
	body * {
		max-width: 100%;
	}


/***** General ******/
h1 {
	color: #ce6f28;
	font-size: 24px;
    line-height: 26px;
	font-weight: bold;
	padding: 20px 0 10px;
}

h2 {
  color: #3D6C87;
  font-size: 20px;
  font-weight: bold;
  line-height: 16px;
  padding: 10px 0 5px;
}

h3 {
  color: #3D6C87;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  line-height: 18px;
  padding: 0;
}

p
{
	color: #000;
	padding-bottom: 10px;
}

img
{
	border: none;
}

a:link, a:visited
{
	color: #074e7f;
	text-decoration: underline;
}

a:hover, a:active
{
	color: #074e7f;
	text-decoration: none;
}

.float-left
{
	float: left;
	display: inline-block;
	width: auto;
}

.float-right
{
	float: right;
	display: inline-block;
	width: auto;
}

.align-center
{
	text-align: center;
}

/* Clearfix */
.clearfix:after  { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { zoom: 1; }	
	  


/****** Desktop & Tablet Layout Borders ******/	
/* Header */


	header {
		display: block;
		margin: 0;
		padding-bottom: 20px;
		width: 100%;
		height: 111px;
		background: #3C8768;
		overflow: hidden;
	}

	#logo {
		max-width: 920px;
		display: block;
		margin: 0 auto;
	}

	#logo img {
		max-width: 281px;
		max-height: 71px;
		padding: 20px 0;
		display: block;
		margin: 0 auto;
	}


				  
/***** Content *****/
	#site-content
	{
		display: block;
		max-width: 100%;
		min-height: 200px;
		background: #fff;
		position: relative;
		clear: both;
		margin: -20px 0 !important;
		padding: 20px 0;
	}
	
	#site-content-inner
	{
		max-width: 771px;
		display: block;
		margin: 0 auto;
	}
	
/***** Footer *****/
	footer {
		clear: both;
		min-height: 15px;
		display: block;
		padding: 20px;
		width: 100%;
		background: #074e7f;
		color: #fff;
	}

	#copyright {
		display: block;
		max-width: 400px;
		clear: both;
		min-height: 15px;
		display: block;
		margin: 0 auto;
		padding: 20px;
		width: 100%;
		background: #074e7f;
	}






/***** Mobile Phone & Tablet Styles  *****/
@media all and (max-width: 767px) {

	.container-narrow {
		margin: 0 auto;
		max-width: 960px;
		padding: 0;
	}
	
	.nav li {
		color: #FFFFFF;
		display: inline;
		float: left;
		padding: 4px 3px 5px;
		width: auto;
	}	

	.nav li a {
		background: none repeat scroll 0 0 transparent;
		color: #FFFFFF;
		font-size: 14px;
		text-decoration: none;
	}	


	#site-content
	{
		display: block;
		padding: 0 10px;
		max-width: 920px;
		min-height: 175px;
	}
	
	#site-content-inner {
		padding: 0 0 100px 0;
	}
	
	#footer 
	{
		bottom: 20px;
		padding-bottom: 12px;
		clear: both;
		height: 75px;
		position: absolute;
		width: 100%;
		overflow: auto;
	}
	
	#footer p 
	{
		bottom: -35px;
		color: #A9A9A9;
		padding: 0;
		position: relative;
		text-align: center;
		font-size: 12px;
		width: 80%;
		overflow: auto;
	}
	
}